{% extends "base.html" %}
{% load static %}

{% block body %}
    <div id="main">
        <h1>História prevozu</h1>

        <h2>Filtre</h2>
        <div id="filters">
            <div class="filter-group">
                <div class="date-input-container">
                    <label for="start-date">
                        <i class="fa fa-calendar"></i> Od:
                    </label>
                    <input type="text" id="start-date" class="date-picker" placeholder="Vyber dátum">
                    <button class="delete-btn" onclick="clearDate('start-date')">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
                <div class="date-input-container">
                    <label for="end-date">
                        <i class="fa fa-calendar"></i> Do:
                    </label>
                    <input type="text" id="end-date" class="date-picker" placeholder="Vyber dátum">
                    <button class="delete-btn" onclick="clearDate('end-date')">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>

            <div class="filter-group">
                <label for="filterEvent"><i class="fas fa-list"></i> Event:</label>
                <input type="text" id="filterEvent" list="events" name="event" placeholder="Filtrovať podľa eventu">
            </div>

            <div class="filter-group">
                <label for="filterSource"><i class="fas fa-sign-in-alt"></i> Zdroj:</label>
                <input type="text" id="filterSource" placeholder="Filtrovať podľa zdroja">
            </div>

            <div class="filter-group">
                <label for="filterDestination"><i class="fas fa-sign-out-alt"></i> Cieľ:</label>
                <input type="text" id="filterDestination" placeholder="Filtrovať podľa cieľa">
            </div>

            <div class="filter-group">
                <label for="filterFrequency"><i class="fas fa-wave-square"></i> Frekvencia:</label>
                <input type="text" id="filterFrequency" placeholder="Filtrovať podľa frekvencie">
            </div>
        </div>

        <table id="myTable" class="display stripe hover cell-border" style="width:100%">
            <thead>
            <tr>
                <th>Časový záznam</th>
                <th>Dĺžka (s)</th>
                <th>Event</th>
                <th>Zdroj</th>
                <th>Cieľ</th>
                <th>Frekvencia</th>
                <th>Ďalšie možnosti</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.13.6/sorting/datetime-moment.js"></script>

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/sk.js"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script>
        let table;

        function deleteDmrData(eventId, table) {
            fetch(`/api/dmr-delete/${eventId}/`, {
                method: 'DELETE'
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error(`Chyba: ${response.status}`);
                    }
                    return response.json();
                })
                .then(data => {
                    Swal.fire({
                        title: 'Úspešne zmazané',
                        text: data.message,
                        icon: 'success',
                        confirmButtonText: 'Zatvoriť'
                    });
                    table.draw();
                })
                .catch(error => {
                    Swal.fire({
                        title: 'Chyba!',
                        text: error,
                        icon: 'error',
                        confirmButtonText: 'Zatvoriť'
                    });

                });
        }

        $(document).ready(function () {

            flatpickr(".date-picker", {
                dateFormat: "d.m.Y",
                locale: "sk",
                allowInput: true,
                maxDate: "today",
                static: true,
                position: "start"
            });


            $.fn.dataTable.moment('DD.MM.YYYY HH:mm:ss');

            table = $('#myTable').DataTable({
                processing: true,
                serverSide: true,
                ajax: {
                    url: "/api/dmr-history/",
                    type: "GET",
                    data: function (d) {
                        d.filterEvent = $('#filterEvent').val();
                        d.filterSource = $('#filterSource').val();
                        d.filterDestination = $('#filterDestination').val();
                        d.filterFrequency = $('#filterFrequency').val();
                        d.start_date = $('#start-date').val();
                        d.end_date = $('#end-date').val();
                    }
                },
                columns: [
                    {"data": "timestamp"},
                    {"data": "duration_s"},
                    {"data": "event"},
                    {"data": "source"},
                    {"data": "destination"},
                    {"data": "frequency"},
                    {
                        "data": "event_id",
                        "orderable": false,
                        "render": function (data) {
                            return `<button class="detail-btn" data-id="${data}">Detaily</button>
                                    <button class="delete-btn" data-id="${data}">Zmazať</button>`;
                        }
                    }
                ],
                order: [[0, "desc"]],
                language: {
                    url: "https://cdn.datatables.net/plug-ins/1.13.6/i18n/sk.json"
                }
            });

            $('#filterEvent, #filterSource, #filterDestination, #filterFrequency, #start-date, #end-date').on('keyup change', function () {
                table.draw();
            });

            $('#myTable tbody').on('click', '.detail-btn', async function () {
                let eventId = $(this).data('id');

                try {
                    let response = await fetch(`/api/dmr-detail/${eventId}/`);
                    if (!response.ok) {
                        throw new Error(`Chyba: ${response.status}`);
                    }
                    let data = await response.json();
                    let details = data.details ? (data.details !== "SERVICE OPTIONS []" ? data.details : "") : "Žiadne";
                    let decodedData = "";

                    if (details.split(":")[0].includes("DEFINED SHORT DATA PACKET")) {
                        let decodeResponse = await fetch('/api/decode-short-data-packet/', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({details: details.split(":")[1]})
                        });
                        if (!decodeResponse.ok) {
                            throw new Error(`Chyba: ${decodeResponse.status}`);
                        }
                        let decodeData = await decodeResponse.json();
                        decodedData = decodeData.decoded_details;
                    }

                    if (data.event.includes("SMS")) {
                        if (!details.includes("Error")) {
                            let byteArray = new Uint8Array(details.split('').map(char => char.charCodeAt(0)));
                            let hexString = Array.from(byteArray).map(byte => byte.toString(16).padStart(2, '0')).join('');
                            details = hexString.toUpperCase();
                        } else {
                            details = "";
                        }

                    }

                    Swal.fire({
                        title: 'Detaily udalosti',
                        html: `
                <b>Časový záznam:</b> ${data.timestamp} <br>
                ${data.duration_s > 0 ? `<b>Dĺžka:</b> ${data.duration_s} s <br>` : ''}
                <b>Event:</b> ${data.event} <br>
                ${data.source ? `<b>Zdroj:</b> ${data.source} <br>` : ''}
                ${data.destination ? `<b>Cieľ:</b> ${data.destination} <br>` : ''}
                ${data.channel_number ? `<b>Číslo kanálu:</b> ${data.channel_number} <br>` : ''}
                <b>Frekvencia:</b> ${data.frequency} MHz <br>
                ${data.timeslot ? `<b>Timeslot:</b> ${data.timeslot} <br>` : ''}
                ${data.color_code ? `<b>Color code:</b> ${data.color_code} <br>` : ''}
                ${details ? `<b>Detaily:</b> ${details} <br>` : ''}
                ${decodedData ? `<b>Dekódované detaily:</b> ${decodedData} <br>` : ''}
            `,
                        icon: 'info',
                        confirmButtonText: 'Zatvoriť'
                    });
                } catch (error) {
                    Swal.fire('Chyba!', 'Nepodarilo sa načítať detaily.', 'error');
                }
            });
            $('#myTable tbody').on('click', '.delete-btn', function () {
                let eventId = $(this).data('id');

                Swal.fire({
                    title: 'Naozaj zmazať?',
                    text: 'Naozaj chcete zmazať túto udalosť? Táto akcia je nevratná.',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#28a745',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Áno',
                    cancelButtonText: 'Zrušiť'
                }).then((result) => {
                    if (result.isConfirmed) {
                        deleteDmrData(eventId, table);
                    }
                });
            });

            fetch('/api/available-events/')
                .then(response => {
                    if (!response.ok) {
                        throw new Error(`Chyba: ${response.status}`);
                    }
                    return response.json();
                })
                .then(data => {
                    const eventList = data.events.map(eventObj => eventObj.event);
                    $('#filterEvent').autocomplete({
                        source: eventList,
                        minLength: 0
                    });
                })
                .catch(error => {
                    Swal.fire({
                        title: 'Chyba!',
                        text: error,
                        icon: 'error',
                        confirmButtonText: 'Zatvoriť'
                    });

                });

        });

        function clearDate(id) {
            document.getElementById(id).value = "";
            table.draw();
        }


    </script>

    <style>
        #main {
            padding: 20px;
        }

        #filters {
            display: flex;
            flex-wrap: wrap;
            justify-content: start;
            gap: 15px;
            padding-bottom: 20px;
        }

        .filter-group {
            display: flex;
            align-items: center;
            gap: 8px;
            background: #f8f9fa;
            padding: 8px 12px;
            border-radius: 8px;
            box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
        }

        .filter-group label {
            font-weight: bold;
            font-size: 14px;
            color: #555;
            display: flex;
            align-items: center;
            gap: 5px;
        }

        .filter-group i {
            font-size: 14px;
            color: rgb(0, 0, 0);
        }

        .filter-group input {
            padding: 6px 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 14px;
            outline: none;
            transition: all 0.3s ease;
            width: 180px;
            background: #fff;
        }

        .filter-group input:focus {
            border-color: #007bff;
            box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
        }

        table.dataTable thead th {
            background-color: #f2f2f2;
            font-weight: bold;
            text-align: center;
        }

        table.dataTable {
            border: 1px solid #ccc;
        }

        table.dataTable tr:hover {
            background-color: #eaeaea;
        }

        table.dataTable td, table.dataTable th {
            text-align: center;
            vertical-align: middle;
        }

        #myTable_length {
            margin-bottom: 20px;
        }

        .detail-btn {
            padding: 5px 10px;
            background: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: all 0.3s ease;
        }


        .delete-btn {
            padding: 5px 10px;
            background: #dc3545;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: all 0.3s ease;
        }

        .date-input-container {
            display: flex;
            align-items: center;
            gap: 8px;
        }

        .date-input-container label {
            font-weight: bold;
            font-size: 14px;
            color: #555;
            display: flex;
            align-items: center;
            gap: 5px;
        }

        .date-input-container i {
            font-size: 16px;
            color: rgb(0, 0, 0);
        }

        .date-input-container i.fa.fa-times {
            color: #fff;
        }

        .date-picker {
            width: 5px;
            padding: 6px;
            border: none;
            border-radius: 5px;
            font-size: 14px;
            text-align: center;
            background: none;
            outline: none;
        }


    </style>
{% endblock %}
